<div class="background"></div>
<div class="gradient">
  <img class="gradient1" src="../../../assets/img/gradient_1.png" />
  <img class="gradient2" src="../../../assets/img/gradient_2.png" />
</div>
<div class="section team-header">
  <stf-header>
    <h6>OUR TEAM</h6>
    <h1 id="team-header">
      We bring a wealth of skills and experience<br />
      from a wide range of backgrounds
    </h1>
  </stf-header>
  <span id="team-description">
    Our goal is simple; hire great people and give them<br />
    the resources and support to do their best work</span
  >
</div>

<div class="team-wrapper" id="team">
  <div class="team-member-grid">
    <div class="team-member-card" *ngFor="let teamMember of teamMembers">
      <img [src]="basePath + teamMember.img" />
      <div class="team-member-info">
        <span id="name">{{ teamMember.name }}</span>
        <span id="position">{{ teamMember.position }}</span>
      </div>
    </div>
  </div>
</div>

<app-banner bannerType="contactUs"></app-banner>
