.team-header {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  height: 30rem;
  width: 100vw;
  padding-top: 4.5rem;

  h1 {
    font-size: clamp(2.5rem, 3vw, 4rem);
    line-height: clamp(2.9rem, 3.6vw, 4.7rem);
  }

  span {
    font-size: 1.15rem;
    color: rgb(57, 57, 57);
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: radial-gradient(
    circle at 3px 3px,
    rgb(238, 238, 238) 2px,
    transparent 0
  );
  background-size: 12px 12px;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: linear-gradient(to bottom, transparent, white);

  .gradient1 {
    position: absolute;
    left: 50%;
    top: 0;
    height: 35rem;
    transform: translateX(-125%) rotate(-15deg);
  }
  .gradient2 {
    position: absolute;
    left: 50%;
    top: 0;
    height: 60rem;
    transform: translateX(30%) rotate(25deg);
    opacity: 0.75;
  }
}

.team-wrapper {
  display: flex;
  justify-content: center;
  padding: 4rem 4rem 12rem 4rem;

  .team-member-grid {
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
    gap: 2.5rem; /* Space between rows and columns */
    padding: 2.5rem; /* Optional padding around the grid */

    .team-member-card {
      position: relative;
      background-color: #c7d7de;
      height: fit-content;
      max-width: 16rem;

      img {
        width: 100%;
      }

      .team-member-info {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        width: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.5rem;
        background-color: #f8f8f8bf;
        border-radius: 5px;
        backdrop-filter: blur(10px);

        #name {
          font-weight: 600;
          font-size: 1rem;
        }

        #position {
          font-weight: 500;
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .team-header {
    padding-top: 3.5rem;

    h1 {
      font-size: clamp(1.75rem, 2vw, 4rem);
      line-height: clamp(2rem, 2.6vw, 4.7rem);
    }

    span {
      font-size: 0.8rem;
      max-width: 65%;
      text-align: center;
      br {
        display: none;
      }
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: radial-gradient(
      circle at 3px 3px,
      rgb(232, 232, 232) 2px,
      transparent 0
    );
    background-size: 12px 12px;
  }

  .gradient {
    .gradient1 {
      transform: translateX(-100%) rotate(-15deg);
    }
    .gradient2 {
      transform: translateX(0%) rotate(25deg);
    }
  }

  .team-wrapper {
    padding: 4rem 2rem 12rem 2rem;

    .team-member-grid {
      grid-template-columns: repeat(2, 1fr); /* 4 columns with equal width */
      gap: 1.5rem; /* Space between rows and columns */
      padding: 0;

      .team-member-card {
        .team-member-info {
          left: 0.5rem;
          width: calc(100% - 1rem);

          #name {
            font-size: 0.85rem;
          }

          #position {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
