
<div class="section footer-wrapper">
    <div class="footer">
        <svg-icon [name]="SvgIcon.LOGO_WATERMARK" [height]="2" [width]="5.2" (click)="router.navigate(['/home'])"></svg-icon>
        <div *ngFor="let footerSection of footerSections" class="footer-section">
            {{footerSection.header}}
            <a *ngFor="let sectionLink of footerSection.subHeaders" (click)="handleLinkClick(sectionLink)">
                {{sectionLink.label}}
            </a>
        </div>
    </div>

    <div class="copyright">
        <div class="copyright-text">
            <span>© Spieles Troutwine Fount Insurance Group, 2023</span>
            <span>Site Designed by Hayden Westfall</span>
        </div>
        <div class="socials">
            <a *ngFor="let social of socials" [href]="social.url" target="_blank">
                <svg-icon [name]="social.icon" [height]="social.height" [width]="social.width"></svg-icon>
            </a>
        </div>
    </div>

    <svg viewBox="0 0 729 283" class="watermark">
        <path d="M268.5 69V0H482V69H268.5Z" fill="currentColor"/>
        <path d="M407.5 283V120.5H338V283H407.5Z" fill="currentColor"/>
        <path d="M518 69.5V0.5H728.5V69.5H518Z" fill="currentColor"/>
        <path d="M518 279V116.5H694.5V177H588.5V279H518Z" fill="currentColor"/>
        <path d="M217.5 6.60079V69H142.122C76 69 66 116.837 66 151.587H0.0951044C-3.45558 30.8638 93.3006 4.62818 142.122 6.60079L217.5 6.60079Z" fill="currentColor"/>
        <path d="M0 278.986V216.587L75.3775 216.587C141.5 216.587 151.5 168.75 151.5 134H217.405C220.956 254.723 124.199 280.959 75.3775 278.986L0 278.986Z" fill="currentColor"/>
    </svg>
</div>
