<section class="section carriers">
  <div class="carrier-header">
    <stf-header>
      <h6 style="color: #deeaff80">PARTNERS</h6>
      <h1 style="color: white" id="carrier-section-header">
        Trusted by the best
      </h1>
    </stf-header>

    <p class="description" id="carrier-section-description">
      With access to several of the largest and most respected companies, we are
      confident we can find the best coverage and rates for you.
    </p>

    <div class="button-wrapper" id="carrier-section-action">
      <a class="stf-button stf-button-primary-dark-bg" routerLink="/carriers"
        >See the list</a
      >
    </div>
  </div>

  <div class="marquee">
    <div class="carrier animate-left" *ngFor="let carrier of carriers1">
      <img [src]="carrier" [alt]="carrier" />
    </div>
  </div>

  <div class="marquee" style="justify-content: flex-end">
    <div class="carrier animate-right" *ngFor="let carrier of carriers2">
      <img [src]="carrier" [alt]="carrier" />
    </div>
  </div>
</section>
