
<div class="navbar-wrapper" hideOnScroll (eventElementHidden)="selectedLink = null" 
    [ngClass]="navbarClass" propertyUsedToHide="transform" (eventElementShown)="stf.navIsShowing = true"
    (eventElementHidden)="stf.navIsShowing = false" [dontHide]="showNav"
    (mouseenter)="mouseEnterNavbar()" (mouseleave)="mouseLeaveNavbar()">
    <div class="navbar">
        <div class="links" *ngIf="showNav || !mediaQuery.matches" @panelSlideIn>
            <div class="get-quote">
                <span>Want a quote?</span>
                <a class="stf-button stf-button-primary" (click)="selectedLink = null" [href]="quoteLink" target="_blank">
                    Get Quote
                </a>
            </div>
            <div class="link" #about (click)="selectedLink = aboutLinks"
                [ngClass]="{'selectedLink': selectedLink === aboutLinks}">
                <span>About</span>
                <svg-icon [name]="SvgIcon.ANGLE" [width]="1.25" [height]="1.25"></svg-icon>
            </div>
            <div class="link" #coverage (click)="selectedLink = coverageLinks"
                [ngClass]="{'selectedLink': selectedLink === coverageLinks}">
                <span>Coverage</span>
                <svg-icon [name]="SvgIcon.ANGLE" [width]="1.25" [height]="1.25"></svg-icon>
            </div>
            <div class="link" (click)="selectLink('carriers')">
                <span>Payments | Claims</span>
                <svg-icon [name]="SvgIcon.ANGLE" [width]="1.25" [height]="1.25"></svg-icon>
            </div>
            <a class="contact-us" (click)="selectLink('/contact')">Contact Us</a>

            <li class="slide-in-panel" *ngIf="mediaQuery.matches && selectedLink" @panelSlideIn>
                <span class="slide-in-header">{{selectedLink.title}}</span>
                <ul class="option-list">
                    <li *ngFor="let link of selectedLink.dropdown" class="option" (click)="selectLink(link.navigateTo)">{{link.label}}</li>
                </ul>
            </li>
        </div>
        
        <svg-icon class="logo" [name]="SvgIcon.LOGO" [width]="4" (click)="selectLink('/home')"></svg-icon>

        <a id="desktop-getQuote" class="stf-button stf-button-primary" style="padding: 0.5rem 1rem; font-size: 0.75rem;"
            (click)="selectedLink = null" [href]="quoteLink" target="_blank">
            Get Quote
        </a>

        <button #btn class="more-btn" aria-controls="primary-navigation"
            [attr.aria-expanded]="showNav" (click)="showNav = !showNav">
            <svg fill="var(--button-color)" class="hamburger" viewBox="0 0 100 100" width="2rem">
              <rect class="line top" width="80" height="10" x="10" y="25" rx="5" fill="currentColor"></rect>
              <rect class="line middle" width="80" height="10" x="10" y="45" rx="5" fill="currentColor"></rect>
              <rect class="line bottom" width="80" height="10" x="10" y="65" rx="5" fill="currentColor"></rect>
            </svg>
          </button>
        <svg-icon id="left-icon" *ngIf="selectedLink && mediaQuery.matches" [name]="SvgIcon.ANGLE" [height]="1.5" [width]="0.75"
            (click)="selectedLink = null" [@fade]="{value: selectedLink ? ':leave' : ':enter',
            params: {fadeTime: '275'}}"></svg-icon>
    </div>



    <div class="navbar-overlay" @growHeight (@growHeight.done)="mouseLeaveNavbar()" *ngIf="selectedLink && !mediaQuery.matches">
        <div class="navbar-options">
            <a class="navbar-option" *ngFor="let option of selectedLink.dropdown" (click)="selectLink(option.navigateTo)">
                <div class="icon">
                    <svg-icon [name]="option.icon" [height]="option.iconSize"></svg-icon>
                </div>
                <span>{{option.label}}</span>
            </a>
        </div>
    </div>
</div>
