
<section class="section hero">
    <div class="text">
        <span class="hero-subHeader">MEET STF</span>
        <span class="hero-Header">The Easiest Way To Buy Low Cost Insurance</span>
        <div style="margin-top: 3rem;">
            <button class="stf-button stf-button-primary" style="margin-right: 1rem">Get Quote</button>
            <button class="stf-button stf-button-secondary">Learn More</button>
        </div>
    </div>
    <div class="image">
        <img src="../../../../assets/img/car.jpg" alt="car"/>
    </div>
</section>
