<section class="section hero">
  <div class="text">
    <span id="meet-stf" class="hero-subHeader">MEET STF</span>
    <div id="hero-1" class="hero-header">
      <div class="hero-header-line">{{ firstLine }}</div>
      <div class="hero-header-line">
        <span *ngIf="isMobileView">Buy </span>
        <span style="color: var(--primary-color)">Low Cost</span>
        <svg viewBox="0 0 535 142">
          <path
            id="text-accent"
            d="M86.3915 28.456C145.892 15.456 310.191 -2.74398 465.391 28.456C620.591 59.656 464.629 115.374 366 129C290 139.5 182.5 144 68.5002 122C-37.4588 101.552 11 49.5 48 24.5C91.5 -4.89188 141.609 -2.49986 259 28.4561"
          />
        </svg>
        <span *ngIf="!isMobileView"> Insurance</span>
        <div *ngIf="isMobileView" class="hero-header-line">Insurance</div>
      </div>
    </div>
    <div id="contact-agencies" class="contact-wrapper">
      <ng-container *ngFor="let info of contactInfo; let i = index">
        <div class="contact-info">
          <span>{{ info.label }}</span>
          <a [href]="info.type + ':' + info.value">{{ info.value }}</a>
        </div>
        <div class="divider" *ngIf="i !== contactInfo.length - 1"></div>
      </ng-container>
    </div>
    <div id="actions" class="button-group">
      <a class="stf-button stf-button-primary" routerLink="/quoteRedirect"
        >Get Quote</a
      >
      <a class="stf-button stf-button-secondary-light-bg" routerLink="/about"
        >Learn More</a
      >
    </div>
  </div>

  <div class="location-images-wrapper">
    <div class="static-images">
      <img
        class="location"
        src="../../../../assets/img/locations/arcanum.webp"
        alt="Arcanum Office"
      />
    </div>
    <div class="static-images">
      <img
        class="location"
        src="../../../../assets/img/locations/middletown.webp"
        alt="Middletown Office"
      />
      <img
        class="location"
        src="../../../../assets/img/locations/vandalia.webp"
        alt="Vandalia Office"
      />
    </div>
  </div>

  <div id="mobile-branding-images" class="mobile-images-wrapper">
    <img
      class="location"
      src="../../../../assets/img/locations/debrozi.webp"
      alt="Debrozi Logo"
    />
    <img
      class="location"
      src="../../../../assets/img/locations/stf.webp"
      alt="STF Logo"
    />
    <img
      class="location"
      src="../../../../assets/img/locations/js.webp"
      alt="Jessie Short Logo"
    />
  </div>

  <div class="background"></div>
  <div class="gradient">
    <img class="gradient1" src="../../../assets/img/gradient_1.png" />
    <img class="gradient2" src="../../../assets/img/gradient_2.png" />
  </div>
</section>
