.hero {
  position: relative;
  height: 70vw;
  max-height: calc(100vh - 4.5rem);
  margin-top: 4.5rem;
  display: flex;
  overflow: hidden;

  .text {
    position: absolute;
    top: clamp(5rem, 5vw, 10rem);
    left: 5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 6;

    .hero-subHeader {
      color: var(--primary-color);
      font-weight: 700;
      font-size: 1.1rem;
    }

    .hero-header {
      position: relative;
      color: var(--secondary-color);
      font-size: 4vw;
      font-weight: 800;
      white-space: pre-wrap;

      .hero-header-line {
        position: relative;
        line-height: 6vw;
        white-space: nowrap;
      }

      svg {
        position: absolute;
        bottom: -0.5vw;
        left: -2.25vw;
        height: 8vw;

        path {
          stroke-dasharray: 0;
          stroke-dashoffset: 0;
          stroke-width: 7;
          stroke: var(--primary-color);
          stroke-linecap: round;
          fill: none;
        }

        .anim {
          transition: stroke-dashoffset 1s;
        }
      }
    }

    .contact-wrapper {
      display: flex;
      gap: 1.75rem;
      margin-top: 3rem;

      .contact-info {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        span {
          font-size: 0.95rem;
          font-weight: 600;
          color: #4e4e4e;
        }

        a {
          font-weight: 500;
          color: #2a61cc;
          font-size: 0.75rem;
        }
      }

      .divider {
        width: 2px;
        border-radius: 50px;
        background-color: #c9c9c9;
      }
    }

    .button-group {
      margin-top: 3rem;
      display: flex;
      gap: 1rem;
    }
  }

  .location-images-wrapper {
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    gap: 7px;
    width: 100%;
    height: 100%;
    z-index: 5;

    .location-images {
      display: grid;
      gap: 7px;
      grid-template-rows: repeat(
        3,
        minmax(0, 1fr)
      ); /* Adjust row heights if needed */
      grid-template-columns: 1fr; /* One column */
      justify-content: center;
      align-content: center;
      height: 100%;

      div {
        aspect-ratio: 1 / 1; /* Ensures each cell is a square */
        height: 100%; /* Each square takes full width of its column */
      }

      .location-grid-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border: 1px solid rgb(210, 210, 210);

        .location {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: radial-gradient(
      circle at 3px 3px,
      rgb(232, 232, 232) 2px,
      transparent 0
    );
    background-size: 12px 12px;
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: linear-gradient(to bottom, transparent, white);
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    overflow: unset;

    .text {
      padding-left: 0;

      .hero-subHeader {
        text-align: center;
      }

      .hero-header {
        font-size: 8vw;

        .hero-header-line {
          text-align: center;
          line-height: 10vw;
        }

        svg {
          bottom: -1vw;
          left: 37.5vw;
          height: 12.5vw;
        }
      }

      .contact-wrapper {
        flex-direction: column;
        align-items: center;
        margin: 3rem 0;
        gap: 0.75rem;

        .contact-info {
          align-items: center;

          span {
            font-size: 0.7rem;
            color: #9e9e9e;
          }

          a {
            font-weight: 500;
            color: #2a61cc;
            font-size: 0.8rem;
          }

          .divider {
            display: none;
          }
        }
      }

      .button-group {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
      }
    }

    .image {
      position: relative;
      width: 100vw;
      height: 40vw;

      img {
        width: calc(100% - 4rem);
        margin-left: 2rem;
        object-fit: cover;
        border-radius: 0;
        border: none;
        right: unset;
        border-radius: 10px;
      }
    }
  }
}
