
.coverage-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth;

    .coverage-header {
        position: relative;
        width: 100vw;

        .overlay-header {
            position: absolute;
            top: 8rem;
            left: 50%;
            transform: translateX(-50%);
        }

        img {
            position: relative;
            display:inline-block;
            object-fit: cover;
            width: 100vw;
            height: 100vh;
            pointer-events: none;
        }
    }

    .team-wrapper {
        position: relative;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        list-style: none;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
        grid-auto-columns: 76vw;
        grid-column-gap: 12vw;
        padding: 10rem 24vw;

        .team-member {
            border-radius: 10px;
            background-color: white;
            font-size: 1.1rem;
            font-family: 'helios-antique';
            font-weight: 600;
            text-align: left;
            box-shadow: 0 4px 50px 0 rgb(0 0 0 / 17%);
            width: 76vw;
            scroll-snap-align: center;
            display: flex;
            padding: 2rem 2rem 2rem 0;

            .employee-photo {
                position: relative;
                width: 22rem;
                height: 100%;
                flex-shrink: 0;

                .photo-wrapper {
                    position: absolute;
                    top: clamp(-4rem, -7vw, -1rem);
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #9DA4BC;
                    height: 30vw;
                    width: 30vw;
                    max-height: 16rem;
                    max-width: 16rem;
                    min-height: 10rem;
                    min-width: 10rem;
                    border-radius: 50%;
                    box-shadow: 0 15px 80px 0 #272d3f72, 0 0 1px 0 #0d669342;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;

                    .person-fg {
                        position: relative;
                        object-fit: cover;
                        height: 100%;
                        bottom: 0;
                    }
                }
            }

            .employee-description {
                display: flex;
                flex-direction: column;
                gap: 5rem;

                .employee-title {
                    color: black;
                    font-size: 3rem;
                    font-weight: 700;

                    .employee-sub-header {
                        font-size: 0.7rem;
                        letter-spacing: 2px;
                        color: rgb(187, 187, 187);
                        line-height: 1rem;
                        font-weight: 600;
                    }
                }

                .employee-description {
                    font-family: Maison Neue Book, sans-serif;
                    font-size: 0.95rem;
                    font-weight: 500;

                }
            }
        }

        .next-prev-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .employee-list {
        position: relative;
        width: 100%;
        background-color: #f4f4f4;
        display: flex;
        gap: 5rem;
        padding: 2rem 4rem;
        justify-content: center;
    }

    .thumbnail-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .thumbnail-image {
            position: relative;
            background-color: #9DA4BC;
            height: 7vw;
            width: 7vw;
            border-radius: 50%;
            box-shadow: 0 15px 80px 0 #272d3f72, 0 0 1px 0 #0d669342;
            overflow: hidden;
            display: flex;
            justify-content: center;
            cursor: pointer;
            transition: transform 200ms ease-in-out;

            &:hover {
                transform: scale(1.1);
            }

            .person-fg {
                position: relative;
                object-fit: cover;
                height: 100%;
                bottom: 0;
            }
        }

        span {
            font-weight: 600;
            font-size: 0.8rem;
            white-space: nowrap;
        }
    }
}


@media only screen and (max-width: 920px) {
    .coverage-wrapper {
        .team-wrapper {
            grid-auto-columns: 80vw;
            grid-column-gap: 5vw;
            padding: 5vh 10vw;
            padding-top: 15rem;
    
            .team-member {
                flex-direction: column;
                width: 80vw;
                scroll-snap-align: center;
                align-items: center;
                padding: 0 2rem 2rem 2rem;
    
                .employee-photo {
                    width: 22rem;
                    height: 12rem;
                }
    
                .employee-description {
                    gap: 1.5rem;
                    font-size: 0.8rem;

                    .employee-title {
                        font-size: clamp(1.5rem, 5.5vw, 3.5rem);
    
                        .employee-sub-header {
                            font-size: clamp(0.5rem, 2vw, 0.7rem);
                        }
                    }
                }
            }
        }
    
        .employee-list {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            justify-content: flex-start;
        }
    
        .thumbnail-wrapper {
            scroll-snap-align: center;
    
            .thumbnail-image {
                min-height: 6rem;
                min-width: 6rem;
            }
        }
    }
}
