
<div class="section coverage-wrapper">
    <div class="coverage-header">
        <img [@fade]="{value: ':enter', params: {fadeTime: '500ms 850'}}" [src]="basePath + '/teamPage_bg.png'" />
        <div class="gradient-overlay"></div>
        <stf-header class="overlay-header">
            <span class="sub-header">TEAM</span>
            <span class="header" data-aos="fade-up" data-aos-duration="1000">Meet the Team.</span>
        </stf-header>
    </div>

    <div class="team-wrapper">
        <div class="team-member" *ngFor="let employee of team" [attr.id]="employee.id">
            <div class="employee-photo">
                <div class="photo-wrapper">
                    <img [src]="basePath + employee.img" class="person-fg">
                </div>
            </div>
            <div class="employee-description">
                <div class="employee-title">
                    <div>{{employee.name}}</div>
                    <div class="employee-sub-header">{{employee.postiion}}</div>
                </div>
                <span class="employee-description">{{employee.description}}</span>
            </div>
        </div>
    </div>

    <div class="employee-list">
        <div class="thumbnail-wrapper" *ngFor="let employee of team">
            <div class="thumbnail-image" (click)="scrollEmployeeIntoView(employee.id)">
                <img [src]="basePath + employee.img" class="person-fg">
            </div>
            <span>{{employee.name}}</span>
        </div>
    </div>
</div>
<app-footer></app-footer>
