$bg-height: 70vh;

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: radial-gradient(
    circle at 3px 3px,
    rgb(238, 238, 238) 2px,
    transparent 0
  );
  background-size: 12px 12px;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: linear-gradient(to bottom, transparent, white);

  .gradient1 {
    position: absolute;
    left: 50%;
    top: 0;
    height: 50rem;
    transform: translateX(-120%) rotate(-15deg);
  }
  .gradient2 {
    position: absolute;
    left: 50%;
    top: 0;
    height: 90rem;
    transform: translateX(30%) rotate(25deg);
    opacity: 0.75;
  }
}

.locations-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $bg-height;
    opacity: 0.375;
    z-index: -2;
    object-fit: cover;
  }

  .gradient-overlay {
    background: linear-gradient(transparent, white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $bg-height;
    z-index: -1;
  }

  .overlay-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 18vh;
    height: 60vh;

    .description {
      display: inline-block;
      margin-top: 3.5rem;
      max-width: 35rem;
      text-align: center;
      font-size: 1.1rem;
    }
  }

  .locations-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    width: 100%;
    gap: 5rem;
    margin: 0 0 20vh 0;
    padding: 0 5rem;
    z-index: 10;

    .location {
      display: flex;
      width: 100%;
      border-radius: 15px;
      box-shadow: 0px 0px 1px 0px #0d669341, 0px 15px 80px 0px #272d3f1b;
      overflow: hidden;
      height: 25rem;
      border: 1px solid var(--surface-1);
      background-color: white;

      .information {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.25rem 2rem;
        height: 100%;
        width: 35%;

        .address {
          font-size: 0.8rem;
          font-weight: 500;
        }

        .number-label {
          font-size: 0.7rem;
          color: rgb(156, 156, 156);
          font-weight: 500;
          text-transform: uppercase;
        }

        .number {
          font-weight: 500;
          display: inline-block;
          margin-bottom: 1rem;
          font-size: 0.85rem;
        }

        .hours {
          display: inline-block;
          font-size: 0.8rem;
          font-weight: 500;
        }
      }

      .location-img {
        height: 100%;
        width: 65%;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .locations-section {
    .overlay-header {
      max-width: 75vw;

      .description {
        max-width: 50vw;
        font-size: 1rem;
      }
    }

    .locations-wrapper {
      align-items: center;
      flex-direction: column;
      padding: 0;

      .location {
        width: 85%;
        height: unset;
        flex-direction: column;
        box-shadow: 0px 0px 8px 0px rgb(13 102 147 / 11%),
          0px 15px 80px 0px rgb(39 45 63 / 11%);

        .information {
          width: unset;
          height: 23rem;
        }

        .location-img {
          width: unset;
          height: 26rem;
        }
      }
    }
  }
}
