
<div class="section locations-section">
    <img class="section-header" [src]="basePath + 'map_bg.png'" />
    <div class="overlay-header">
        <stf-header>
            <span class="sub-header">LOCATIONS</span>
            <span class="header" data-aos="fade-up" data-aos-duration="1000">Where you can find us</span>
        </stf-header>
        <span class="description">STF currenlty has two offices. Check out the cards below for addresses, phone numbers, and more.</span>
    </div>
    <div class="locations-wrapper">
        <div class="location">
            <div style=" padding: 1.25rem 2rem; height: 24rem;">
                <h1>Arcanum</h1>
                <span class="address">21 W George St Arcanum, OH 45304</span><br/>
                <span class="number-label">PHONE</span><br/>
                <span class="number">(937) 692 - 8310</span><br/>
                <span class="number-label">TOLL FREE</span><br/>
                <span class="number">(800) 270-9667</span><br/>
                <span class="number-label">FAX</span><br/>
                <span class="number">(937) 278-9132</span><br/>
                <span class="number-label">HOURS</span><br/>
                <div>
                    <span class="hours" style="margin-right: 2rem">Weekdays</span>
                    <span class="hours">8:30AM - 4:30PM</span>
                </div>
                <div>
                    <span class="hours" style="margin-right: 2rem; margin-top: 0.4rem">Weekdays</span>
                    <span class="hours">CLOSED</span>
                </div>
            </div>
            <img [src]="basePath + 'location.png'">
        </div>
        <div class="location">
            <div style=" padding: 1.25rem 2rem; height: 24rem">
                <h1>Vandalia</h1>
                <span class="address">21 W George St Arcanum, OH 45304</span><br/>
                <span class="number-label">PHONE</span><br/>
                <span class="number">(937) 692 - 8310</span><br/>
                <span class="number-label">TOLL FREE</span><br/>
                <span class="number">(800) 270-9667</span><br/>
                <span class="number-label">FAX</span><br/>
                <span class="number">(937) 278-9132</span><br/>
                <span class="number-label">HOURS</span><br/>
                <div>
                    <span class="hours" style="margin-right: 2rem">Weekdays</span>
                    <span class="hours">8:30AM - 4:30PM</span>
                </div>
                <div>
                    <span class="hours" style="margin-right: 2rem; margin-top: 0.4rem">Weekdays</span>
                    <span class="hours">CLOSED</span>
                </div>
            </div>
            <img [src]="basePath + 'location.png'">
        </div>
    </div>
</div>
<app-footer></app-footer>
