
<div class="section about-wrapper">
    <div class="about-header">
        <stf-header>
            <span class="sub-header">ABOUT</span>
            <span class="header" data-aos="fade-up" data-aos-easing="ease-out" data-aos-duration="800">Get to know us.</span>
        </stf-header>
        <img class="section-header" [src]="basePath + 'about.png'" />
    </div>

    <div class="about-description">
        <stf-header>
            <span class="sub-header">ABOUT</span>
            <span class="header" data-aos="fade-up" data-aos-duration="1000">Who is STF?</span>
        </stf-header>
        <div>
            We are an independent insurance agency in Arcanum, Ohio. As an independent agency, we work for our clients to find the right coverage at competitive prices by leveraging their strong relationships with multiple markets and providers. We prioritize personal service and take the time to understand the needs of you.
        </div>
        <div class="statistics">
            <div class="statistic" #statistic id="statistic">
                <span>{{yearsOfService}}+</span>
                <span>Years insuring families</span>
            </div>
            <div class="statistic">
                <span>{{familiesProtected | number}}+</span>
                <span>Families protected with STF</span>
            </div>
            <div class="statistic">
                <span>{{customerRatings}}+</span>
                <span>Customer Ratings</span>
            </div>
        </div>
    </div>

    <div class="strengths-section">
        <stf-header>
            <span class="sub-header" style="color: #5F718D">STRENGTHS</span>
            <span class="header" style="color: white" data-aos="fade-up" data-aos-duration="1000">Why STF is right for you.</span>
        </stf-header>
        <span class="description">Here are some of the reasons that we beleive STF is the right choice for you</span>
            <div class="strengths-graphic">
                <div class="strength-num">
                    1
                    <div class="strength-text" style="left: 11rem"  data-aos="fade-up" data-aos-duration="1000">
                        We do not work for any single insurance company - we work for
                        YOU. We analyze your special needs and circumstance and find the very best coverage for your situation.
                        <div class="text-accent"></div>
                    </div>
                </div>
                <div class="strength-num">
                    2
                    <span class="strength-text" style="right: 11rem; text-align: right;" data-aos="fade-up" data-aos-duration="1000">
                        We keep ourselves abreast of what's new in the industry
                        because we work with so many different companies. We keep on top of things for you and make sure your
                        coverages are up-to-date, providing you with the best your money can buy.
                        <div class="text-accent" style="left: unset; right: 0"></div>
                    </span>
                </div>
                <div class="strength-num">
                    3
                    <span class="strength-text" style="left: 11rem"  data-aos="fade-up" data-aos-duration="1000">
                        We can provide you with prompt and fair claims assistance
                        because of our special relationships with the array of companies we represent. We make sure they give
                        you the most responsive and fast service available.
                        <div class="text-accent"></div>
                    </span>
                </div>
                <div class="strength-num">
                    4
                    <span class="strength-text" style="right: 11rem; text-align: right;" data-aos="fade-up" data-aos-duration="1000">
                        We continually educate ourselves to remain competitive in
                        the industry. This way, you can count on us for well-informed insurance advice and counsel.
                        <div class="text-accent" style="left: unset; right: 0"></div>
                    </span>
                </div>
                <div class="strength-num">
                    5
                    <span class="strength-text" style="left: 11rem" data-aos="fade-up" data-aos-duration="1000">
                        The company believes that buying or selling insurance policies
                        is more than just about price, they look for value in serving clients' needs and aim to find the most
                        suitable product instead of fulfilling a company quota.
                        <div class="text-accent"></div>
                    </span>
                </div>
                <div class="line"></div>
            </div>
    </div>

    <div class="carriers-section">
        <stf-header>
            <span class="sub-header">OUR CARRIERS</span>
            <span class="header" data-aos="fade-up" data-aos-duration="1000">What we carry.</span>
        </stf-header>

        <div class="carriers-wrapper">
            <div class="carrier" *ngFor="let carrier of carriers">
                <img [src]="basePath + carrier" />
            </div>
            <div class="carrier">
                <span class="more-text">and many more</span>
            </div>
        </div>
    </div>
</div>

<app-banner bannerType="getQuote"></app-banner>
<app-footer></app-footer>
