
.about-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .about-header {
        position: relative;
        height: 100vh;
        overflow: hidden;
        
        stf-header {
            position: absolute;
            top: 11rem;
            left: 50%;
            transform: translateX(-50%);
        }

        img {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            overflow: hidden;
        }
    }

    .about-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        max-width: 60rem;
        text-align: center;
        font-size: 1.2rem;
        color: rgb(56, 56, 56);
        margin: 20rem 0 0 0;

        .statistics {
            display: flex;
            justify-content: center;
            padding: 5rem;
            background-color: var(--primary-color);
            width: 100vw;
            gap: 8rem;
            margin-top: 10rem;

            .statistic {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                color: white;
                width: 15rem;
                height: 8rem;

                span {
                    font-weight: 700;
                    font-size: 4.5rem;

                    &:last-child {
                        font-weight: 500;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    .strengths-section {
        width: 100%;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10rem 0;

        .description {
            display: inline-block;
            margin-top: 4rem;
            color: #A4ABC1;
            max-width: 25rem;
            text-align: center;
        }


        .strengths-graphic {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10rem;
            margin: 10rem 0;
            
            .strength-num {
                position: relative;
                height: 7rem;
                width: 7rem;
                background-color: var(--secondary-color);
                box-shadow: 0 0 50px 0 #14182a;
                z-index: 1;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #b2bbdc;
                font-size: 1.2rem;

                .strength-text {
                    position: absolute;
                    top: 50%;
                    max-width: 25rem;
                    width: 33vw;
                    font-size: clamp(0.75rem, 1.5vw, 1.1rem);
                    color: white;
                    font-weight: 500;
                    height: 10rem;
                    left: 11rem;
                    text-align: left;

                    .text-accent {
                        position: absolute;
                        bottom: 106%;
                        left: 0;
                        width: 3rem;
                        height: 3px;
                        border-radius: 10px;
                        background-color: var(--primary-color);
                    }

                    .pos-left {
                        right: 0;
                        left: unset
                    }
                }

                .align-left {
                    right: 11rem;
                    left: unset;
                    text-align: right;
                }
            }

            .line {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                height: 100%;
                width: 2px;
                background-color: #37436f;
            }
        }
    }

    .carriers-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8rem 0;

        .carriers-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 10rem;
            flex-wrap: wrap;
            max-width: 65rem;
            gap: 1rem;
            padding: 0 1rem;

            .carrier {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                box-shadow: 0 0 2px 0 #0d669332, 0 15px 80px 0 #272d3f1c;
                height: 15rem;
                width: 15rem;
                border-radius: 12px;

                img {
                    width: 80%;
                }

                .more-text {
                    color: #93A1AD;
                    font-weight: 600;
                    font-size: 1.5rem;
                    max-width: 8rem;
                    text-align: center;
                    line-height: 1.5rem;
                }
            }
        }
    }
}







@media only screen and (max-width: 768px) {
    .about-wrapper {
        .about-description {
            max-width: 80vw;
            font-size: 1.6rem;
            font-weight: 500;
    
            .statistics {
                flex-direction: column;
                align-items: center;
            }
        }
    
        .strengths-section {
            .description {
                font-size: 1.5rem;
            }
    
    
            .strengths-graphic {
                width: calc(100% + 2rem);
                left: -2rem;
                gap: 12rem;
                
                .strength-num {
                    gap: 3rem;
    
                    .strength-text {
                        font-size: clamp(1rem, 1.1rem, 1.2rem);
                        width: 72vw;
                        left: 9rem;

                        .pos-left {
                            right: unset;
                            left: 0
                        }
                    }

                    .align-left {
                        right: unset;
                        left: 9rem;
                        text-align: left;
                    }
                }
    
                .line {
                    left: 3.5rem;
                }
            }
        }
    
        .carriers-section {
            .carriers-wrapper {
                justify-content: center;

                .carrier {
                    width: 40vw;
                    height: 40vw;
                }
            }
        }
    }
}
