.coverages {
  display: flex;
  flex-direction: column;
  padding: 5rem 5rem 15rem;
  gap: 5rem;
  max-width: 100%;

  .header {
    #coverage-section-header {
      justify-content: flex-start;
    }
  }

  .coverage-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 70rem;

    .coverage {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 12px;
      padding: 1rem;
      background-color: white;
      box-shadow: 0 4px 25px 0 rgb(0 0 0 / 17%);
      border: 1px solid rgb(230, 230, 230);
      gap: 2rem;

      .coverage-info {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        justify-content: space-between;

        .icon {
          border-radius: 50%;
          background-color: var(--surface-2);
          display: grid;
          align-items: center;
          justify-content: center;
          height: 3.5rem;
          width: 3.5rem;
          flex-shrink: 0;
        }

        .information {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          span {
            &:first-child {
              font-weight: 700;
              font-size: 0.95rem;
            }

            &:nth-child(2) {
              color: var(--secondary-text-color);
              font-size: 0.75rem;
              font-weight: 500;
              max-width: 15rem;
            }
          }
        }
      }

      a {
        padding: 0.3rem 1rem;
        margin: 2rem 0;
        font-size: 0.8rem;
        white-space: nowrap;
        margin: 0;
        flex-shrink: 0;
      }
    }
  }

  .active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
}

@media only screen and (max-width: 1340px) {
  .coverages {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .coverage-list {
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 768px) {
  .coverages {
    padding: 5rem 1rem;

    .coverage-list {
      padding: 0 2rem;
      max-width: 100%;

      .coverage {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .coverage-info {
          display: flex;
          align-items: center;
          gap: 1.25rem;
          justify-content: space-between;
        }

        a {
          width: 100%;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
