
<div class="section coverages">

    <stf-header>
        <span class="sub-header">COVERAGES</span>
        <span class="header" data-aos="fade-up"data-aos-easing="ease-out" data-aos-duration="800">Expert guidance and</span>
        <span class="header" data-aos="fade-up"data-aos-easing="ease-out" data-aos-duration="800" data-aos-delay="200">Expert customer service</span>
    </stf-header>

    <div class="coverage-list">
        <div class="coverage" *ngFor="let coverage of coverages; let i = index"
            data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="800" [attr.data-aos-delay]="(i * 100) + 200">
            <div class="icon">
                <svg-icon [name]="coverage.icon" [height]="coverage.iconSize"></svg-icon>
            </div>
            <div class="information">
                <span>{{coverage.title}}</span>
                <span>{{coverage.description}}</span>
                <a *ngIf="coverage.link" class="stf-button stf-button-primary" style="padding: 0.5rem 1.5rem; margin-top: 2rem;" [routerLink]="coverage.link">Learn More</a>
                <a *ngIf="coverage.externalLink" class="stf-button stf-button-primary" style="padding: 0.5rem 1.5rem; margin-top: 2rem;" [href]="coverage.externalLink" target="_blank">Learn More</a>
            </div>
        </div>
    </div>
</div>
