
.review-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 7rem 0 calc(5rem - 5vh);
    margin-bottom: 8rem;

    .review-list-wrapper {
        position: relative;
        width: 100%;

        .review-list {
            margin-top: 8rem;
            position: relative;
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            list-style: none;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
            grid-auto-columns: 22rem;
            grid-column-gap: 6rem;
            padding: 5vh 12vw;
            cursor: pointer;
            
            &::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
    
            .review {
                width: 100%;
                min-height: 42vh;
                border-radius: 0.625rem;
                overflow: hidden;
                scroll-snap-align: center;
                box-shadow: 0 4px 25px 0 rgb(0 0 0 / 17%);
    
                
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2rem;

                span {
                    font-size: 1.1rem;
                    font-weight: 600;

                    &:first-child {
                        display: inline-block;
                        padding-bottom: 1rem;
                    }
                }
            }
        }

        .active {
            cursor: grabbing;
            cursor: -webkit-grabbing;
        }
        
        svg-icon {
            position: absolute;
            color: var(--surface-2);
        }

        .top-quote {
            top: 3rem;
            left: 5rem
        }

        .bottom-quote {
            bottom: -5rem;
            right: 5rem
        }
    }

    .leave-review {
        margin-top: 1.25rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .review-wrapper {
        .review-list-wrapper {
            .review-list {
                grid-auto-columns: 62vw;
                grid-column-gap: 5vw;
                padding: 5vh 17vw;
    
                .review {
                    width: 62vw;
                    scroll-snap-align: center;
    
                    div {
                        text-align: center;
                        font-size: 1rem;
                    }
                }
            }

            .top-quote {
                top: 5rem;
                left: 1.5rem
            }
    
            .bottom-quote {
                bottom: -3rem;
                right: 1.5rem
            }
        }
    }
}
