
<div class="section review-wrapper">
    <stf-header>
        <span class="sub-header">REVIEWS</span>
        <span class="header" data-aos="fade-up"data-aos-easing="ease-out" data-aos-duration="800">What people are saying</span>
    </stf-header>


    <div class="review-list-wrapper">
        <div class="review-list" #reviewList>
            <div class="review" *ngFor="let review of reviews">
                <span>{{review.review}}</span>
                <span>{{review.reviewer}}</span>
            </div>
        </div>
        <svg-icon [name]="SvgIcon.QUOTE_OPEN" [height]="4" [width]="4" class="top-quote"></svg-icon>
        <svg-icon [name]="SvgIcon.QUOTE_CLOSE" [height]="4" [width]="4" class="bottom-quote"></svg-icon>
    </div>

    <div class="leave-review">
        <a class="stf-button stf-button-primary" target="_blank" [href]="reviewLink">
            Submit Review
        </a>
    </div>
</div>
