.review-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10rem 0 calc(5rem - 5vh);
  margin-bottom: 8rem;

  .review-list-wrapper {
    position: relative;
    width: 100%;

    .review-scroll-wrapper {
      margin-top: 8rem;
      position: relative;
      height: 50vh;
      width: 100%;
      overflow: hidden;
    }

    .review-list {
      position: absolute;
      top: 0;
      left: 50%;
      width: fit-content;
      display: flex;
      gap: 6rem;
      padding-top: 2rem;

      &.animate {
        transition: transform 0.75s ease-in-out;
      }

      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      .review {
        width: 100%;
        height: 42vh;
        width: 20rem;
        border-radius: 0.625rem;
        overflow: hidden;
        scroll-snap-align: center;
        box-shadow: 0 4px 25px 0 rgb(0 0 0 / 17%);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;

        span {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.5rem;
          font-weight: 600;

          &:first-child {
            display: inline-block;
            padding-bottom: 1rem;
            font-weight: 500;
          }
        }
      }
    }

    .active {
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }

    svg {
      position: absolute;
      color: var(--surface-2);
    }

    .top-quote {
      top: 3rem;
      left: 5rem;
      height: 4rem;
      width: 4rem;
    }

    .bottom-quote {
      bottom: -5rem;
      right: 5rem;
      height: 4rem;
      width: 4rem;
    }
  }

  .leave-review {
    margin-top: 2.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .review-wrapper {
    .review-list-wrapper {
      .review-list {
        grid-auto-columns: 62vw;
        grid-column-gap: 5vw;
        padding: 5vh 17vw;

        .review {
          width: 62vw;
          scroll-snap-align: center;

          div {
            text-align: center;
            font-size: 1rem;
          }
        }
      }

      .top-quote {
        top: 5rem;
        left: 1.5rem;
      }

      .bottom-quote {
        bottom: -3rem;
        right: 1.5rem;
      }
    }
  }
}
