
.review-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 7rem 0 calc(5rem - 5vh);
    margin-bottom: 8rem;

    .review-list-wrapper {
        position: relative;
        width: 100%;

        .review-list {
            margin-top: 8rem;
            position: relative;
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            list-style: none;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */
            grid-auto-columns: 20vw;
            grid-column-gap: 6rem;
            padding: 5vh 12vw;

            
            &::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
    
            .review {
                width: 100%;
                height: 42vh;
                border-radius: 0.625rem;
                overflow: hidden;
                scroll-snap-align: center;
                box-shadow: 0 4px 25px 0 rgb(0 0 0 / 17%);
    
                
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2rem;

                span {
                    font-size: 1.1rem;
                    font-weight: 600;
                    &:last-child {

                    }
                }
            }
        }
        
        svg-icon {
            position: absolute;
        }
    }

    .leave-review {
        margin-top: 1.25rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
