
<div class="contact-wrapper">

    <stf-header>
        <span class="sub-header">CONTACT</span>
        <span class="header" data-aos="fade-up" data-aos-duration="1000">We'd love to hear from you.</span>
    </stf-header>

    <span class="sub-text">How can we help?</span>
    <svg-icon [name]="SvgIcon.ANGLE" [width]="1" style="transform: rotate(270deg); color: var(--primary-color)"></svg-icon>


    <div class="contact-cards">
        <div class="contact-card">
            <div style="text-align: center">
                <h2>Have a general question?</h2><br/>
                <span>Check out our FAQ page</span>
            </div>
            <a class="stf-button stf-button-primary" routerLink="/faq">View FAQ</a>
        </div>
        <div class="contact-branch">
            <div class="contact-card branch-card">
                <h4>Contact the Arcanum branch</h4>
                <button class="stf-button stf-button-secondary">Get in touch</button>
            </div>
            <div class="contact-card branch-card">
                <h4>Contact the Vandalia branch</h4>
                <button class="stf-button stf-button-secondary">Get in touch</button>
            </div>
        </div>
        <div class="contact-card">
            <div style="text-align: center; width: calc(50% - 5rem);">
                <h2>Looking for a career?</h2><br/>
                <span stlye="font-weight: 600">Apply today to join the STF team!</span>
            </div>
            <button class="stf-button stf-button-primary">Apply</button>
        </div>
        <div class="contact-card">
            <div style="text-align: center; width: calc(50% - 5rem);">
                <h2>Still have questions?</h2><br/>
                <span stlye="font-weight: 600">Get in touch with our team and we will assist you as soon as posisble</span>
            </div>
            <button class="stf-button stf-button-primary">Contact</button>
        </div>
    </div>
</div>
<app-footer></app-footer>
