<div class="branding-wrapper">
  <div class="scroll-wrapper">
    <app-hero-section></app-hero-section>
    <app-about-section></app-about-section>
    <app-coverages-section></app-coverages-section>
  </div>
  <div class="static-images">
    <img
      class="location"
      src="../../../../assets/img/locations/stf.png"
      alt="Arcanum Office"
    />
    <img
      class="location"
      src="../../../../assets/img/locations/debrozi.png"
      alt="Vandalia Office"
    />
    <img
      class="location"
      src="../../../../assets/img/locations/js.png"
      alt="JS Office"
    />
  </div>
</div>
<app-carriers-section></app-carriers-section>
<app-reviews-section></app-reviews-section>
<app-banner bannerType="getQuote"></app-banner>
