
<section class="section about">

    <stf-header>
        <h6>ABOUT US</h6>
        <h1 data-aos="fade-up" data-aos-duration="1000">We are here to help.</h1>
    </stf-header>

    <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        For 60+ years, STF Insurance Group has provided top-quality insurance solutions and exceptional customer service to individuals, families, and businesses. Our experienced team tailors
        coverage to meet clients' unique needs, offering personal and commercial insurance at the right price. As an independent agency with access to a wide range of carriers, we build long-lasting
        relationships with clients and serve our communities with integrity and honesty.
    </p>
</section>
