
<section class="section about">

    <stf-header>
        <span class="sub-header">ABOUT US</span>
        <span class="header" data-aos="fade-up" data-aos-duration="1000">We are here to help.</span>
    </stf-header>

    <span class="about-description" data-aos="fade-up" data-aos-duration="1000">
        We are an independent insurance agency that has been trusted for source quality for over 60 years! We offer coverages
        for health, home, life, auto, farm, and commercial.  We look forward to finding the lowest price for you.
    </span>

    <!-- <h2 data-aos="fade-up" data-aos-duration="1000"
        data-aos-delay="100">
        This is Text I want to animate
    </h2><br/>
    <h2 data-aos="fade-up" data-aos-duration="1000"
        data-aos-delay="100">
        This is Text I want to animate
    </h2> -->

    <!-- <div class="test-anim">
        <div data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-out" data-aos-delay="0">Financial</div>
        <div data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-out" data-aos-delay="75">Services</div>
    </div>
    <div class="test-anim">
        <div data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-out" data-aos-delay="150">Built</div>
        <div data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-out" data-aos-delay="225">For</div>
        <div data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-out" data-aos-delay="300">Renters.</div>
    </div>

    <h2 *ngIf="test" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
        {{words}}
    </h2>
    <h2 *ngIf="test1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
        {{words}}
    </h2>
    <h2 *ngIf="test2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
        {{words}}
    </h2> -->

</section>
