.about {
  display: flex;
  white-space: pre-wrap;
  flex-direction: column;
  gap: 3rem;
  margin: 20vh 0 40vh;
  padding: 5rem;

  .header {
    #about-section-header {
      justify-content: flex-start;
    }
  }

  #about-section-description {
    text-align: start;
  }
}

@media only screen and (max-width: 1340px) {
  .about {
    align-items: center;
    margin: 20vh 0 20vh;
    padding: 5rem 1rem;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      #about-section-header {
        justify-content: center;
      }
    }

    #about-section-description {
      text-align: justify;
      white-space: normal;
      font-size: 0.95rem;
      line-height: 1.6rem;
    }
  }
}
