
<section class="section about">

    <stf-header>
        <span class="sub-header">ABOUT US</span>
        <span class="header" data-aos="fade-up" data-aos-duration="1000">We are here to help.</span>
    </stf-header>

    <span class="about-description" data-aos="fade-up" data-aos-duration="1000">
        We are an independent insurance agency that has been trusted for source quality for over 60 years! We offer coverages
        for health, home, life, auto, farm, and commercial.  We look forward to finding the lowest price for you.
    </span>
</section>
