
<div class="get-quote-wrapper">
    <div class="panel-1" [@animatePanel]="{value: isOpen ? ':leave' : ':enter', params: {animateTime: !isOpen ? '700ms' : '900ms 200ms'}}" *ngIf="showGetQuote"></div>
    <div class="panel-2" [@animatePanel]="{value: isOpen ? ':leave' : ':enter', params: {animateTime: !isOpen ? '800ms 100ms' : '800ms 100ms'}}" *ngIf="showGetQuote"></div>
    <div class="get-quote" [@animatePanel]="{value: isOpen ? ':leave' : ':enter', params: {animateTime: !isOpen ? '900ms 200ms' : '700ms'}}" *ngIf="showGetQuote"
        (@animatePanel.done)="isOpen = true">

        <div class="get-quote-header">
            <a class="close-form" (click)="closeQuote()">
                <svg-icon [name]="SvgIcon.ANGLE" [height]="0.8"></svg-icon>
                <span>Back to STF</span>
            </a>
            <div class="logo">
                <svg-icon [name]="SvgIcon.LOGO" [height]="1.5"></svg-icon>
            </div>
        </div>
        <div class="input-wrapper">
            <span class="input-label">{{inputPrompt}}</span>
            <input class="form-input" [(ngModel)]="formInput" placeholder="Enter full name . . ." />
            <div class="button-wrapper">
                <button class="stf-button stf-button-secondary" style="width: 8rem">Back</button>
                <button class="stf-button stf-button-primary" style="width: 8rem">Continue</button>
            </div>
        </div>
    </div>
</div>
