
.get-quote-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;

    .panel-1 {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--secondary-color);
        bottom: 0;
    }

    .panel-2 {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--primary-color);
        bottom: 0;
    }

    .get-quote {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: white;
        bottom: 0;

        .get-quote-header {
            position: relative;
            width: 100%;
            padding: 3rem 5rem 0 5rem;

            .close-form {
                position: absolute;
                bottom: 0.3rem;
                display: flex;
                align-items: center;
                gap: 0.6rem;
                font-weight: 600;
                font-size: 0.8rem;
                cursor: pointer;
            }
        }

        .input-wrapper {
            position: absolute;
            top: 30vh;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5rem;

            .input-label {
                font-size: 3rem;
                font-weight: 800;
                width: 55rem;
                text-align: center;
            }

            .form-input {
                width: 55rem;
                border-radius: 100px;
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.234);
                padding: 1.5rem 3rem;
                border: none
            }

            .button-wrapper {
                display: flex;
                gap: 1rem;
            }
        }
    }
}
