
<div class="faq-wrapper">

    <div class="faq-title">
        <stf-header>
            <span class="sub-header" style="color: #deeaff80">FAQ</span>
            <span class="header" style="color: white" data-aos="fade-up" data-aos-duration="1000">Questions?</span>
        </stf-header>
    
        <span class="sub-text" data-aos="fade" data-aos-easing="ease-out" data-aos-duration="800" data-aos-delay="600">How can we help?</span>
    </div>

    <div class="questions">
        <div class="faq" *ngFor="let question of faqs" (click)="question.expanded = !question.expanded">
            <div class="question">
                <h3 style="height: 3rem">{{question.question}}</h3>
                <div class="icon" [ngClass]="question.expanded ? 'icon-open' : 'icon-close'">
                    <svg-icon *ngIf="!question.expanded" [name]="SvgIcon.PLUS" [width]="0.6"></svg-icon>
                    <svg-icon *ngIf="question.expanded" [name]="SvgIcon.TIMES" [width]="0.6"></svg-icon>
                </div>
            </div>
            <div class="answer" *ngIf="question.expanded" @growHeight>
                {{question.answer}}
            </div>
        </div>

    </div>
</div>

<app-banner bannerType="contactUs"></app-banner>
<app-footer></app-footer>
