
.faq-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .faq-title {
        display: flex;
        flex-direction: column;
        padding-top: 9rem;
        align-items: center;
        height: 52vh;
        width: 100%;
        background-color: var(--secondary-color);

        .sub-text { 
            display: inline-block;
            margin: 2rem;
            font-size: 0.9rem;
            font-weight: 500;
            color: #dbe3ffb8;
        }
    }

    .questions {
        display: flex;
        flex-direction: column;
        width: 42rem;
        margin: 2rem 0;

        .faq {
            padding: 2rem;
            border-bottom: 1px solid var(--surface-2);
            cursor: pointer;

            .question {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .icon {
                    height: 2.5rem;
                    width: 2.5rem;
                    border-radius: 50%;
                    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.156);
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    transition: background-color 250ms;
                }

                .icon-open {
                    background-color: var(--primary-color);
                    svg-icon {
                        color: white
                    }
                }

                .icon-close {
                    background-color: white;
                    svg-icon {
                        color: rgb(71, 71, 71);
                    }
                }
            }
    
            .answer {
                width: 82%;
                overflow: hidden;
            }
        }
    }

    .contact {
        margin: 14rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
    }
}
