
<div class="section coverage-wrapper">
    <section class="coverage-header" *ngIf="!refreshing">
        <img [@fade]="{value: ':enter', params: {fadeTime: '500ms 850'}}" [src]="coverageType?.coverageImage" [ngClass]="coverageType?.id" />
        <div class="gradient-overlay"></div>
        <stf-header class="overlay-header">
            <h6>INSURANCE</h6>
            <h1 data-aos="fade-up" data-aos-duration="1000">{{coverageType?.coverageTitle}}</h1>
        </stf-header>
    </section>

    <div style="height: 100vh; width: 100vw; background-color: white;" *ngIf="refreshing"></div>

    <section class="coverage-description">
        <stf-header>
            <h6>INFORMATION</h6>
            <h1 data-aos="fade-up" data-aos-duration="1000">What we have to offer.</h1>
        </stf-header>

        <p data-aos="fade-up" data-aos-duration="1000">{{coverageType?.description}}</p>
    </section>


    <section class="coverage-cards">
        <div class="coverage-card" *ngFor="let coverageCard of coverageType?.informationCards; let i = index" [ngClass]="i == 0 || i == 2 ? 'reverse' : ''">
            <div data-aos="fade-up" data-aos-duration="1000" [ngStyle]="{'text-align': i == 1 ? 'right' : ''}">{{coverageCard.description}}</div>
            <img data-aos="fade" data-aos-duration="1000" [src]="coverageCard.image" />
        </div>
    </section>
</div>

<app-banner bannerType="getQuote"></app-banner>
