<div class="section carriers-wrapper">
  <section class="carrier-header">
    <img id="carrier-bg" [src]="basePath + 'carriers_bg.webp'" />
    <div class="overlay-header">
      <stf-header>
        <h6 style="color: #deeaff80">CARRIERS</h6>
        <h1 style="color: white" id="carrier-header">Find your carrier</h1>
      </stf-header>
      <p class="description" id="carrier-description">
        Below is a list of our carriers and information so that you can submit a
        claim, get in touch, or make a payment.
      </p>
    </div>
    <svg
      class="scroll-indicator"
      id="scroll-indicator"
      width="30"
      height="17"
      viewBox="0 0 30 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M29.1582 0.7549C28.625 0.271391 27.9037 0 27.1519 0C26.4 0 25.6787 0.271391 25.1455 0.7549L14.9289 9.94478L4.85448 0.7549C4.32127 0.271391 3.59998 0 2.84814 0C2.0963 0 1.37501 0.271391 0.841803 0.7549C0.575064 0.996233 0.363347 1.28335 0.218866 1.5997C0.0743853 1.91605 0 2.25536 0 2.59807C0 2.94077 0.0743853 3.28009 0.218866 3.59643C0.363347 3.91278 0.575064 4.1999 0.841803 4.44124L12.9083 15.4483C13.1728 15.6916 13.4876 15.8848 13.8344 16.0166C14.1812 16.1484 14.5532 16.2162 14.9289 16.2162C15.3045 16.2162 15.6765 16.1484 16.0233 16.0166C16.3701 15.8848 16.6849 15.6916 16.9494 15.4483L29.1582 4.44124C29.4249 4.1999 29.6366 3.91278 29.7811 3.59643C29.9256 3.28009 30 2.94077 30 2.59807C30 2.25536 29.9256 1.91605 29.7811 1.5997C29.6366 1.28335 29.4249 0.996233 29.1582 0.7549Z"
        fill="#EF6C23"
      />
    </svg>
  </section>
  <section class="carriers-list">
    <div
      class="input-wrapper"
      [ngStyle]="{ top: stf.navIsShowing ? '4.25rem' : '0rem' }"
    >
      <div class="search-wrapper">
        <svg class="search-icon" viewBox="0 0 35 35" fill="none">
          <path
            d="M15.5065 0C24.0662 0 31.0131 6.94693 31.0131 15.5065C31.0131 24.0662 24.0662 31.0131 15.5065 31.0131C6.94693 31.0131 0 24.0662 0 15.5065C0 6.94693 6.94693 0 15.5065 0ZM15.5065 27.5672C22.1692 27.5672 27.5672 22.1692 27.5672 15.5065C27.5672 8.84218 22.1692 3.4459 15.5065 3.4459C8.84218 3.4459 3.4459 8.84218 3.4459 15.5065C3.4459 22.1692 8.84218 27.5672 15.5065 27.5672ZM30.1258 27.6895L35 32.562L32.562 35L27.6895 30.1258L30.1258 27.6895Z"
            fill="currentColor"
          />
        </svg>
        <input
          placeholder="Search for your carrier..."
          (keyup)="searchCarriers($event)"
          [(ngModel)]="searchText"
        />
        <svg
          class="clear-icon"
          viewBox="0 0 14 14"
          fill="none"
          (click)="clearSearch()"
          *ngIf="searchText"
        >
          <path
            d="M1 13L13 1M13 13L1 1"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>
    </div>
    <div class="carriers-wrapper" *ngIf="foundCarriers.length">
      <div class="carrier" *ngFor="let carrier of foundCarriers">
        <div class="image-wrapper">
          <img [src]="carrier.logo" [alt]="carrier.name" />
        </div>
        <div class="carrier-info">
          <div>
            <span>Phone: </span
            ><a [href]="'tel:' + carrier.phone">{{ carrier.phone }}</a>
          </div>
          <div *ngIf="carrier.claims">
            <span>Claims: </span
            ><a [href]="'tel:' + carrier.claims">{{ carrier.claims }}</a>
          </div>
        </div>
        <div class="carrier-actions">
          <a
            class="stf-button stf-button-primary card-button"
            [href]="carrier.payments"
            target="_blank"
            >Payments</a
          >
          <a
            class="stf-button stf-button-primary card-button"
            [href]="carrier.claimsLink"
            target="_blank"
            >Claims</a
          >
        </div>
      </div>
    </div>
    <div class="no-results-wrapper" *ngIf="!foundCarriers.length">
      <h1>No Results Found</h1>
      <span
        >Sorry we do not have any carriers that match your search criteria</span
      >
    </div>
  </section>
</div>
<app-banner bannerType="contactUs"></app-banner>
