
<div class="section carriers-wrapper">
    <div class="carrier-header">
        <img [@fade]="{value: ':enter', params: {fadeTime: '850'}}" [src]="basePath + 'carriers_bg.png'" />
        <div class="overlay-header">
            <stf-header>
                <span class="sub-header" style="color: #deeaff80">CARRIERS</span>
                <span class="header" style="color: white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">Find your carrier</span>
            </stf-header>
            <span class="description" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200">
                Below is a list of our carriers and information so that you can submit a claim, get in touch, or make a payment.
            </span>
        </div>
        <svg-icon [name]="SvgIcon.ANGLE" [width]="1" class="scroll-indicator"
        data-aos="fade-down" data-aos-duration="1000" data-aos-delay="1200"></svg-icon>
    </div>
    <div class="carriers-list">
        <div class="input-wrapper" [ngStyle]="{'top': stf.navIsShowing ? '4.25rem' : '0rem'}">
            <div class="search-wrapper">
                <svg-icon class="search-icon" [name]="SvgIcon.SEARCH" [height]="1" [width]="1"></svg-icon>
                <input placeholder="Search for your carrier..." (keyup.enter)="searchCarriers()" [(ngModel)]="searchText">
                <svg-icon class="clear-icon" [name]="SvgIcon.TIMES" [width]="0.6" (click)="clearSearch()" *ngIf="searchText"></svg-icon>
            </div>
        </div>
        <div class="carriers-wrapper" *ngIf="foundCarriers.length">
            <div class="carrier" *ngFor="let carrier of foundCarriers" [@itemAnim]>
                <div class="image-wrapper">
                    <img [src]="carrier.logo" />
                </div>
                <div class="carrier-info">
                    <div>
                        <span>Phone: </span><a [href]="'tel:' + carrier.phone">{{carrier.phone}}</a>
                    </div>
                    <div *ngIf="carrier.claims">
                        <span>Claims: </span><a [href]="'tel:' + carrier.claims">{{carrier.claims}}</a>
                    </div>
                </div>
                <div class="carrier-actions">
                    <a class="stf-button stf-button-primary card-button" [href]="carrier.payments" target="_blank">Payments</a>
                    <a class="stf-button stf-button-primary card-button" [href]="carrier.claimsLink" target="_blank">Claims</a>
                </div>
            </div>
        </div>
        <div class="no-results-wrapper" *ngIf="!foundCarriers.length">
            <h1>No Results Found</h1>
            <span>Sorry we do not have any carriers that match your search criteria</span>
        </div>
    </div>
</div>
<app-banner bannerType="contactUs"></app-banner>
<app-footer></app-footer>
